<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/htmx/1.7.0/htmx.min.js"
      integrity="sha512-etqA0KankuxrlSeZDYycQBY/D/KWZn0YZjlsjAo7kCEBTy1gg+DwmR6icxtOpqDBOzm2P00/lSIXEu7K+zvNsg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/reservation.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Italiana&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inika&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Library App | Rezervasyon</title>
  </head>
  <body>
    <div class="main-container">
      <div class="left-container">
        <div class="brand-name"><a href="/">LibraryApp</a></div>
        <div class="table-changer-wrapper">
          <div class="table-changer-item">
            <a class="add-table" href="/create/{{max_rating}}" type="submit"
              >Masa Ekle</a
            >
          </div>
          <div class="table-changer-item">
            <a class="remove-table" href="/delete/{{max_rating}}" type="submit"
              >Masa Çıkart</a
            >
          </div>
        </div>
      </div>
      <div class="right-container">
        <div class="logged-in-user">
          <button
            type="button"
            class="btn"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            title="Tooltip on bottom"
          >
            <img
              class="profile-picture"
              src="../static/images/profile_pic.png"
              alt="profile_pic"
            />
          </button>
        </div>
        <div class="table-wrapper">
          <div class="container">
            <div class="row">
              {% for i in allList %}
              <div class="col-md-4">
                <div class="table-number-header">{{i.table_number}}</div>
                <div class="border-box">
                  {% if i.left_side == 1 and i.right_side == 1 %}
                  <a href="#">
                    <img src="../static/images/ok_sign.png" alt="left-of-table"
                  /></a>
                  <a href="#">
                    <img
                      src="../static/images/ok_sign.png"
                      alt="right-of-table"
                  /></a>
                  {% elif i.left_side == 1 and i.right_side == 0 %}
                  <a href="#">
                    <img
                      src="../static/images/ok_sign.png"
                      alt="right-of-table"
                  /></a>
                  <a
                    class="btn"
                    data-bs-toggle="modal"
                    data-bs-target="#createRecordModal-{{forloop.counter}}"
                  >
                    <img
                      src="../static/images/nok_sign.png"
                      alt="right-of-table"
                  /></a>
                  {% elif i.left_side == 0 and i.right_side == 1 %}
                  <a
                    class="btn"
                    data-bs-toggle="modal"
                    data-bs-target="#createRecordModal-{{forloop.counter}}"
                  >
                    <img
                      src="../static/images/nok_sign.png"
                      alt="right-of-table"
                  /></a>
                  <a href="#">
                    <img
                      src="../static/images/ok_sign.png"
                      alt="right-of-table"
                  /></a>
                  {% elif i.left_side == 0 and i.right_side == 0 %}
                  <a
                    class="btn"
                    data-bs-toggle="modal"
                    data-bs-target="#createRecordModal-{{forloop.counter}}"
                  >
                    <img
                      src="../static/images/nok_sign.png"
                      alt="right-of-table"
                  /></a>
                  <a
                    class="btn"
                    data-bs-toggle="modal"
                    data-bs-target="#createRecordModal-{{forloop.counter}}"
                  >
                    <img
                      src="../static/images/nok_sign.png"
                      alt="right-of-table"
                  /></a>
                  {% endif %}
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Create Modal HTML -->
    {% for k in allSession %}
    {% for i in allList %}
    <div id="createRecordModal-{{forloop.counter}}" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <form method="POST" action="/session/{{k.visitor_id}}">
            {% csrf_token %}
            <div class="modal-header">
              <h4 class="modal-title" name="taken_table">Masa {{i.table_number}}</h4>
              <button
                type="button"
                class="btn-close btn-close-white"
                data-bs-dismiss="modal"
                aria-hidden="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label>İsim</label>
                <input
                  name="taken_name"
                  type="text"
                  class="form-control"
                  required
                />
              </div>
              <div class="form-group">
                <label>Soyisim</label>
                <input
                  name="taken_surname"
                  type="text"
                  class="form-control"
                  required
                />
              </div>
              <div class="form-group">
                <label>Rezervasyon Zamanı</label>
                <input
                  name="taken_time"
                  type="time"
                  class="form-control"
                  required
                />
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
                aria-label="Close"
              >
                İptal
              </button>
              <button type="submit" class="btn btn-danger">Kaydet</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endfor %}
  </body>
</html>
